.profileInfo {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 250px;
  height: 100vh;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);

  &__photo {
    height: 250px;
  }

  &__name {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin: 20px;
  }

  &__subscribe {
    width: 150px;
    height: 22px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 500;
    border-radius: 11px;
    border: 0;
    background-color: #1bbc9b;
    color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
  }

  &__links {
    display: flex;
    padding: 0 10px;
    justify-content: space-around;
    list-style: none;
  }

  &__friendsText {
    font-size: 12px;
    color: #5f6164;
    margin: 0 0 10px 20px;
  }
}

.vk {
  background: url('../../images/vk.png');
}

.instagram {
  background: url('../../images/instagram.png');
}

.facebook {
  background: url('../../images/facebook.png');
}

.github {
  background: url('../../images/github.png');
}

.linkedIn {
  background: url('../../images/linkedin.png');
}

.socialLink {
  display: block;
  width: 35px;
  height: 35px;
  color: transparent;
  background-size: 35px 35px;
}

.contact {
  display: flex;
  flex-direction: column;
  margin: 20px;

  &__name {
    font-size: 12px;
    color: #5f6164;
  }
  &__item {
    margin-top: 10px;
    font-size: 14px;
  }
}

.friendsList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 10px;
  width: 230px;
  height: calc(100vh - 560px);
  padding: 0;
  margin: 0 auto;
  list-style: none;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50px;
    height: 50px;
  }

  &__itemLink {
    display: block;
    text-decoration: none;
    text-align: center;
  }

  &__itemPhoto {
    width: 32px;
    border-radius: 16px;
  }

  &__itemName {
    display: block;
    font-size: 12px;
    color: black;
  }
}
