@import '~react-image-gallery/styles/scss/image-gallery.scss';

.profilePost {
  width: 80%;
  padding: 20px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 10px auto;

  &__text {
    text-align: justify;
    margin: 15px 0 0;
  }

  &__photo {
    display: block;
    height: 400px;
    margin: 15px auto 0;
    border-radius: 10px;
  }

  &__user {
    display: flex;
    margin-bottom: 15px;
  }

  &__userPhotoWrap {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    overflow: hidden;
  }

  &__userPhoto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
  }

  &__userName {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
    line-height: 50px;
  }

  &__delete {
    width: 25px;
    height: 25px;
    color: transparent;
    margin: 12px 0 0 auto;
    border: 0;
    background: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='25px' height='25px' viewBox='0 0 408.483 408.483' style='enable-background:new 0 0 408.483 408.483;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M87.748,388.784c0.461,11.01,9.521,19.699,20.539,19.699h191.911c11.018,0,20.078-8.689,20.539-19.699l13.705-289.316 H74.043L87.748,388.784z M247.655,171.329c0-4.61,3.738-8.349,8.35-8.349h13.355c4.609,0,8.35,3.738,8.35,8.349v165.293 c0,4.611-3.738,8.349-8.35,8.349h-13.355c-4.61,0-8.35-3.736-8.35-8.349V171.329z M189.216,171.329 c0-4.61,3.738-8.349,8.349-8.349h13.355c4.609,0,8.349,3.738,8.349,8.349v165.293c0,4.611-3.737,8.349-8.349,8.349h-13.355 c-4.61,0-8.349-3.736-8.349-8.349V171.329L189.216,171.329z M130.775,171.329c0-4.61,3.738-8.349,8.349-8.349h13.356 c4.61,0,8.349,3.738,8.349,8.349v165.293c0,4.611-3.738,8.349-8.349,8.349h-13.356c-4.61,0-8.349-3.736-8.349-8.349V171.329z'/%3E%3Cpath d='M343.567,21.043h-88.535V4.305c0-2.377-1.927-4.305-4.305-4.305h-92.971c-2.377,0-4.304,1.928-4.304,4.305v16.737H64.916 c-7.125,0-12.9,5.776-12.9,12.901V74.47h304.451V33.944C356.467,26.819,350.692,21.043,343.567,21.043z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E")
      center no-repeat;
  }

  &__buttonsList {
    display: flex;
    margin-top: 10px;
    padding: 0;
    list-style: none;
  }

  &__like,
  &__dislike,
  &__comment {
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 15px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.4);
  }

  &__like--active,
  &__dislike--active,
  &__comment--active {
    background-color: rgba(255, 0, 0, 0.7);
  }

  &__likeImg,
  &__dislikeImg,
  &__commentImg {
    position: absolute;
    top: 45%;
    left: 15px;
    transform: translate(-50%, -50%);
    height: 20px;
  }

  &__dislikeImg {
    top: 55%;
  }

  &__commentImg {
    top: 50%;
  }
}
