@import '~react-image-gallery/styles/scss/image-gallery.scss';

.profilePost {
  width: 80%;
  padding: 20px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 10px auto;

  &__text {
    text-align: justify;
    margin: 15px 0 0;
  }

  &__photo {
    display: block;
    height: 400px;
    margin: 15px auto 0;
    border-radius: 10px;
  }

  &__user {
    display: flex;
    margin-bottom: 15px;
  }

  &__userPhotoWrap {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    overflow: hidden;
  }

  &__userPhoto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
  }

  &__userName {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
    line-height: 50px;
  }
}
