.messageBlock {
  position: absolute;
  top: 0;
  left: 270px;
  width: calc(100vw - 340px);
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);

  &__header {
    display: flex;
    margin: 10px 50px;

    &__photoWrap {
      position: relative;
      width: 70px;
      height: 70px;
      border-radius: 20%;
      overflow: hidden;
    }

    &__photo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 70px;
    }

    &__name {
      margin-left: 20px;
      font-size: 32px;
      font-weight: 700;
      line-height: 70px;
    }

    &__delete {
      width: 70px;
      height: 70px;
      margin-left: auto;
      background: url('../../images/delete.png') center no-repeat;
      color: transparent;
      border: 0;
      cursor: pointer;
    }
  }

  &__line {
    margin: 10px auto 0;
    border: 1px solid #b5b5b5;
  }

  &__chat {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 340px);
    height: calc(100vh - 160px);
    margin: auto 0 0 0;
    padding: 0 20px;
    box-sizing: border-box;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 6px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
  }

  &__inputBlock {
    display: flex;
    justify-content: space-around;
    margin: 10px auto;

    &__input {
      width: 70%;
      height: 30px;
      box-sizing: border-box;
      border-radius: 7px;
    }

    &__send {
      width: 20%;
      height: 30px;
      border-radius: 7px;
    }
  }
}
