.login {
  position: fixed;
  top: 0;
  left: 70px;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 70px);
  height: 100vh;
  padding-top: 100px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.7);

  &__inputWrap {
    width: 400px;
    height: 60px;
    margin: 0 auto;
  }

  &__inputLabel {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 25px;
  }

  &__input {
    display: block;
    width: 100%;
    height: 24px;
    margin-top: 3px;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
  }

  &__alert {
    height: 18px;
    color: red;
  }

  &__submitAlert {
    position: absolute;
    top: -20px;
    height: 18px;
    color: red;
    text-align: center;
  }

  &__buttonsWrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 25px auto 0;
  }

  &__button {
    width: 45%;
    height: 35px;
    font-size: 14px;
    font-weight: 500;
    line-height: 35px;
    color: #ffffff;
    background-color: #2f80ed;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }

  &__registration {
    text-decoration: none;
    text-align: center;
  }
}
