.addPostBlock {
  position: absolute;
  top: 0;
  width: calc(100vw - 320px);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;

  &__textarea {
    display: block;
    width: 90%;
    height: 100px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
  }

  &__buttons {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
  }

  &__uploadButton {
    margin: 0;
  }

  &__submitButton {
    width: 250px;
  }

  &__hideButton {
    position: absolute;
    bottom: -50px;
    right: 150px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255);
    border-radius: 5px;
    border-top: 0;
  }
}
