.profilePostBlock {
  position: fixed;
  top: 0;
  left: 70px;
  width: calc(100vw - 320px);
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0;
  padding: 0;

  &__wrap {
    width: 1000px;
    margin: 0 auto;
  }

  &__line {
    margin: 20px auto 0;
    width: 95%;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  &__list {
    height: calc(100vh - 222px);
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
    box-sizing: border-box;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 6px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
  }
}

.newsPostBlock {
  width: calc(100vw - 70px);
}
