.profilePostBlock {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 320px);
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0;
  padding: 0;

  &__wrap {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 200px;
    transition: all 500ms ease-out;
  }

  &__line {
    margin: 20px auto 0;
    width: 95%;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  &__list {
    position: relative;
    height: calc(100vh - 222px);
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
    box-sizing: border-box;
    transition: all 500ms ease-out;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 6px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
  }

  &__hide {
    position: sticky;
    top: 0;
    width: 30px;
    height: 30px;
    margin-left: 93%;
    border: 0;
    border-radius: 0 0 5px 5px;
    background: #1bbc9c5b;
  }

  &__hideIcon {
    transition: all 1s;
  }

  &__hideIcon--reverse {
    transform: rotate(180deg);
    transition: all 1s;
  }

  &--big .profilePostBlock__wrap {
    padding-top: 0;
    transition: all 500ms ease-out;
  }

  &--big .profilePostBlock__list {
    height: calc(100vh - 22px);
    transition: all 500ms ease-out;
  }
}

.newsPostBlock {
  width: calc(100vw - 70px);
}

.addPostBlockCss-enter {
  top: -200px;
}
.addPostBlockCss-exit {
  top: 0;
}
.addPostBlockCss-enter-active {
  top: 0;
}
.addPostBlockCss-exit-active {
  top: -200px;
}
.addPostBlockCss-enter-active,
.addPostBlockCss-exit-active {
  transition: top 500ms ease-out;
}
